/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/* Webfont: Overpass-Bold */@font-face {
    font-family: 'Overpass';
    src: url('../fonts/Overpass-Bold.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-BoldItalic */@font-face {
    font-family: 'Overpass';
    src: url('../fonts/Overpass-Bold-Italic.woff') format('woff');    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-Reg */@font-face {
    font-family: 'Overpass';
    src: url('../fonts/Overpass-Regular.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}


/* Webfont: Overpass-Italic */@font-face {
    font-family: 'Overpass';
    src: url('../fonts/Overpass-Italic.woff') format('woff'), /* Modern Browsers */
    font-style: italic;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}


/* Webfont: Overpass-Light */@font-face {
    font-family: 'Overpass';
    src: url('../fonts/Overpass-Light.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-LightItalic */@font-face {
    font-family: 'Overpass';
    src: url('../fonts/Overpass-Light-Italic.woff') format('woff'); /* Modern Browsers */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-ExtraLight */@font-face {
    font-family: 'Overpass';
    src: url('../fonts/Overpass-ExtraLight.woff') format('woff'); /* Modern Browsers */
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: Overpass-ExtraLightItalic */@font-face {
    font-family: 'Overpass';
    src: url('../fonts/Overpass-ExtraLight-Italic.woff') format('woff'); /* Modern Browsers */
    font-style: italic;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

body {
  font-family: 'Overpass';
  padding-bottom: 40px;
  color: #5a5a5a;
}

.btn, .btn-primary {
  background-color: rgb(163,0,0);
  color: rgb(255,255,255);
  border-color: rgb(163,0,0);
  text-transform: uppercase;
}

.btn-primary:hover {
  background-color: rgb(130,0,0);
  border-color: rgb(130,0,0);
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
     -moz-transition: -moz-transform 0.3s ease-out;
       -o-transition: -o-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {
}

ul,li {
  font-size: 15;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.vertical-align {
    display: flex;
    align-items: center;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 400px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 40px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

.badge {
  background-color: rgb(163,0,0);
  font-weight: 500;
}

h1,h2 {
  font-weight: 700;
}
